/* General styles for body to prevent horizontal scrolling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    height: 100vh;
    overflow: hidden;
    /* Prevent both horizontal and vertical scroll */
    background:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('images/space-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
    cursor: grab;
}

.dialog-box {
    font-family: 'Josefin Sans', sans-serif;
    margin: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    display: none;
    z-index: 1000;
    text-align: center;
    max-width: 400px;
    width: auto; /* Allow the box to shrink if the content is small */
    overflow: auto; /* Enable scrolling if content overflows */
    max-height: 90vh; /* Prevent it from exceeding 90% of viewport height */
    box-sizing: border-box; /* Include padding and border in width/height calculations */
}
.dialog-box h2 {
    margin: 0 0 10px 0;
    /* Add spacing between title and owner */
    text-align: center;
    /* Ensure title is centered */
}

.dialog-box p {
    margin: 5px 0;
    /* Add slight spacing for readability */
    text-align: center;
    /* Center align the owner and description text */
}

#monthControls {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 10px;
}
