/* General styles for body to prevent horizontal scrolling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    height: 100vh;
    overflow: hidden; /* Prevent both horizontal and vertical scroll */
    background:
    linear-gradient(rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
    url('images/space-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
}

/* Menu container styling */
.menu {
    position: fixed; /* Use fixed to keep it within the viewport */
    top: 10px;
    right: 10px; /* Ensure it stays within the viewport */
    z-index: 1000;
}

/* Menu links container - initially hidden */
.menu-links {
    display: none; /* Hidden until clicked */
    position: absolute;
    top: 40px; /* Positioned below the button */
    right: 0; /* Align dropdown with the button */
    background-color: #333;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    padding: 10px;
    width: max-content; /* Automatically adjust width */
}

/* Menu button */
.menu-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Menu links */
.menu-links a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

/* Menu link hover effect */
.menu-links a:hover {
    background-color: #555;
}

/* Display dropdown when active */
.menu-container.active .menu-links {
    display: block;
}
#map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.dialog-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  display: none;
  z-index: 1000;
  text-align: center;
  /* Ensure all text in the dialog is centered */
}

.dialog-box h2 {
  margin: 0 0 10px 0;
  /* Add spacing between title and owner */
  text-align: center;
  /* Ensure title is centered */
}

.dialog-box p {
  margin: 5px 0;
  /* Add slight spacing for readability */
  text-align: center;
  /* Center align the owner and description text */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-rotation {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}